<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.4">
  <resource-ref>
    <description>JNDI JDBC DataSource of JSPExapmle</description>
    <res-ref-name>reg</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>Login_Servlet</servlet-name>
    <servlet-class>com.servlet.Login_Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>add_Servlet</servlet-name>
    <servlet-class>com.servlet.add_Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>look_Servlet</servlet-name>
    <servlet-class>com.servlet.look_Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>delete_Servlet</servlet-name>
    <servlet-class>com.servlet.delete_Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>modi_Servlet</servlet-name>
    <servlet-class>com.servlet.modi_Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deta_Servlet</servlet-name>
    <servlet-class>com.servlet.deta_Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>search_Server</servlet-name>
    <servlet-class>com.servlet.search_Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addUser_Servlet</servlet-name>
    <servlet-class>com.servlet.addUser_Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>upload_Servlet</servlet-name>
    <servlet-class>com.servlet.upload_Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>download_Servlet</servlet-name>
    <servlet-class>com.servlet.download_Servlet</servlet-class>
    <init-param>
      <param-name>filepath</param-name>
      <param-value>/Files</param-value>
    </init-param>
    <init-param>
      <param-name>temppath</param-name>
      <param-value>/tmpFiles</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>deletef_Servlet</servlet-name>
    <servlet-class>com.servlet.deletef_Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>rating_Servlet</servlet-name>
    <servlet-class>com.servlet.rating_Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>sendmail_Servlet</servlet-name>
    <servlet-class>com.servlet.sendmail_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_Servlet</servlet-name>
    <url-pattern>/servlet/Login_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>add_Servlet</servlet-name>
    <url-pattern>/servlet/add_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>look_Servlet</servlet-name>
    <url-pattern>/servlet/look_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>delete_Servlet</servlet-name>
    <url-pattern>/servlet/delete_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>modi_Servlet</servlet-name>
    <url-pattern>/servlet/modi_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deta_Servlet</servlet-name>
    <url-pattern>/servlet/deta_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>search_Server</servlet-name>
    <url-pattern>/servlet/search_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addUser_Servlet</servlet-name>
    <url-pattern>/servlet/addUser_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>upload_Servlet</servlet-name>
    <url-pattern>/servlet/upload_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>download_Servlet</servlet-name>
    <url-pattern>/servlet/download_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>rating_Servlet</servlet-name>
    <url-pattern>/servlet/rating_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deletef_Servlet</servlet-name>
    <url-pattern>/servlet/deletef_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>sendmail_Servlet</servlet-name>
    <url-pattern>/servlet/sendmail_Servlet</url-pattern>
  </servlet-mapping>
</web-app>